<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/dbf.css" rel="stylesheet" th:href="@{/resources/static/css/dbf.css}" />
</head>
<body>
	<h1>So you wanna fizz and buzz?</h1>
	<form action="/fizzbuzz-results" method="post">
		<input type="number" id="numItems" name="num" />
		<input type="submit" />
	</form>
</body>
</html>
