body {
    background-color: #f5f5f5;
}

h1 {
	color: blue;
}

label, input {
	display: block;
}

table, th, td {
	border: 2px solid black;
}

th, td {
	width: 1000px;
}

th {
	height: 48px;
	color: blue;
	font-size: 20px;
}

td {
	height: 100px;
	text-align: center;
	font-size: 25px;
}

.topHeading {
	text-align: center;
}

.infoSection {
	text-align: center;
}

.talkingDollar {
	height: 25%;
	width: 25%;
}

.infoSectionImage {
	display: inline-block; 
	width: 45%;
	padding-right: 10px;
	padding-left: 10px;
}

.infoSectionText {
	display: inline-block;
	width: 600px;
}
