<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Financial Planner Startpage</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/dbf.css" />
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/dbf.js"></script>
</head>
<body>
	<h1 class="topHeading">I'm Getting Too Old For This Sh!t: A Retirement Calculator</h1>
	
	<div class="infoSection">
		<div class="infoSectionText">Hi it's me, your hard-earned money. You and I are going to grow old together! 
		Using the input fields and buttons below, we will simulate 50 years of savings and growth. The numbers may 
		start out small, but if we keep at it we can try to retire as millionaires! 
		
		To begin fill in the fields with the amount of money you can save each month right now, as well the total
		balance of your account. These numbers will give us a good idea of where we're at and where we would like to go.
		
		Once you have filled those fields out, click the Good Thing button or the Bad Thing button to simulate 10 years
		of savings and growth.  After five clicks, we'll see how close we are to the retirement of our dreams!
		</div>
		<div class="infoSectionImage"><img class="talkingDollar" src="images/dollar-talking.jpg"/></div> 
	</div>
	<br/> <br/> <br/>
	<form action="/financialplanner-XXXXX" method="post">
		<label for="monthlySavings">Savings per Month: </label>
		<input type="number" id="monthlySavings" name="monthlySavings" /> <br/>
		
		<label for="accountBalance">Account Balance: </label>
		<input type="number" id="accountBalance" name="accountBalance" /> <br/>
	</form>
	<br/>
	<div id="yearCount" class="yearCount"><span id="yearNumber">10</span> years</div>
	<br/> <br/>
	<button type="button" id="goodThingButton" class="goodThingButton" >Good Thing Button</button>
	<button type="button" id="badThingButton" class="badThingButton" >Bad Thing Button</button>
</body>
</html>
